extends layout

block content
  h1= title

  div#output

  input#username placeholder= ss

  form(action='/index')
    input#chat_input
    br
    input(type='submit',value='Send')
  br
  br
  br
  //button#joinroom join room xxx